<!-- Option 1 -->
<div class="container">
<div *ngFor="let item in CategoryList"></div>
        <table *ngIf="this.IsPurchased" class="table table-striped" #tableOfContents style="text-align: center;">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of ProductList">
                <th scope="row">{{product.ID}}</th>
                <td>{{product.Name}}</td>
                <td>{{product.Quantity}}</td>
                <td>{{product.Price}}</td>
                <td><img src="{{product.img}}" alt="" style="height: 150px;"></td>
                <td><button class="btn btn-success" (click)="getProductById(product.ID)">View Details</button></td>
            </tr>
            </tbody>
        </table>
        <ng-container *ngIf="ShowCard">
            <div class="card" style="width: 12rem;" >
                <img class="card-img-top" src="{{Product.img}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{Product.Name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </ng-container>

<!-- Option 1 -->
<br>

<!-- Option 2 -->

<!-- <div *ngIf="this.IsPurchased; then table , else visibleTag"></div>
        <ng-template #table>
        <div *ngFor="let item in CategoryList"></div>
        <table class="table table-striped" #tableOfContents style="text-align: center;">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Purchas</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{product.ID}}</th>
                <td>{{product.Name}}</td>
                <td>{{product.Quantity}}</td>
                <td>{{product.Price}}</td>
                <td><img src="{{product.img}}" alt="" style="height: 150px;"></td>
                <td><button (click)="showDiv()">Buy</button></td>
            </tr>
            <tr>
                <th scope="row">{{ProductList[1].ID}}</th>
                <td>{{ProductList[1].Name}}</td>
                <td>{{ProductList[1].Quantity}}</td>
                <td>{{ProductList[1].Price}}</td>
                <td><img src="{{ProductList[1].img}}" alt="" style="height: 150px;"></td>
                <td><button (click)="showDiv()">Buy</button></td>
            </tr>
            
            </tbody>
        </table>
        </ng-template> -->

<!-- Option 2 -->
<button (click)="showTable()" class="btn btn-success">Show and hide</button>


<br>
<ng-template #visibleTag>
    <h3>Thanks Mr.{{ClientName | uppercase}} for purchasing from {{StoreName}}</h3>
</ng-template>

<!-- <div>
    {{errorMsg}}
</div> -->
<br>
<button class="btn btn-primary" (click)="goToWith()">Product with Disc.</button>
&nbsp;
<button class="btn btn-primary" (click)="goToWithout()">Products without Disc.</button>
<br>
<br>
<router-outlet></router-outlet>
</div>
<br>